@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body{
    font-family: 'Nanum Gothic', serif;
    padding:0;
    padding-top:80px;
    margin:0;
    background-color:#F1F4F9;
}


ul, li{
    list-style:none;
    padding:0;
    margin:0;
}

#rivalblock{
    margin-left:30px;
}

#myblock{
    margin-right:30px;
    float:right;
}


#gameContainer{
    display:inline-block;
    position:relative;
    width: 600px;
    height: 480px;
    margin:5px;
    padding: 15px;
}

#char{
    background: url('char.png') no-repeat;
    background-size: contain;
    width: 130px;
    height: 250px;
    position: absolute;
    left: 250px;
    top: -20px;
}


#dashboard{
    height:100px;
    width:320px;
    margin:auto;
    overflow:hidden;
}

#dashboard li{
    overflow:hidden;
    width: 78px;
    height: 40px;
    float: left;
    display: block;
    line-height: 40px;
    text-align: center;
    border: 1px solid #000;
}

#gameBody{
    height: 300px;
    position: absolute;
    width: 600px;
    bottom: 30px;
}

.block{
    height:300px;
    float:left;
}

.block li{
    border-radius:10px;
    border:1px solid #000;
    width:100px;
    height:58px;
    line-height:58px;
    text-align:center;
}


#blackwhite{
    position:absolute;
    left:215px;
    top: 70px;
}

#blackwhite li{
    background-color:black;
    width:98px;
    height:80px;
    float:left;
    border:1px solid #000;
    color:white;
    line-height:80px;
    text-align:center;
}

#blackwhite li:last-child{
    background-color : white;
    color:#000000;
}


#pointWrap{
    width:100px;
    height:80px;
    position:absolute;
    left:260px;
    bottom: -10px;}

#point{
    background-color: transparent;
    width:100px;
    height:50px;
    font-size:38px;
    border-radius:10px;
    border:none;
    text-align:center;
}

#submitpoint{
    width:100px;
    height:40px;
    font-size:18px;
    display:block;
    margin:auto;
    border-radius:15px;
}

#submitpoint {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    color: #ffffff;
    text-decoration: none;
}

#submitpoint:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

#submitpoint:disabled {
    background: #ccc;
}




#warring{
    width: 600px;
    height: 360px;
    padding-top: 130px;
    position: absolute;
    font-size: 80px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 10;
}





.foot{
    z-index:100;
    float:left;
    height:200px;
    padding:10px;
    padding-top:40px;
    width:289px;
    background-color:rgba(255,255,255,1);
    margin:5px;
    overflow:hidden;
    position:relative;
    display:inline-block;
}

.foottitle{
    margin: auto;
    font-size: 17px;
    text-align: center;
    font-weight: 700;
    position: absolute;
    width: 100%;
    background-color: #0099cc;
    color:white;
    left: 0;
    top: 0;
    height: 30px;
    line-height: 30px;
}


#users li{
    cursor:pointer;
}


#chat{
    padding:0;
    width:309px;
    padding-top:10px;
    height:240px
}

#inputarea {
    width: 100%;
    height: 30px;
    position:absolute;
    bottom: 0;

}

#data{
    border:3px solid #0099cc;
    width:240px;
    height:30px;
    font-size:22px;
}

#datasend{
    height: 30px;
    width: 70px;
    position: absolute;
    right: 0;
    border-radius: 0;
    background-color: #0099cc;
    border: none;
    color: white;
    font-size: 15px;
    line-height: 30px;
}

.list{
    overflow-y:auto;
    overflow-x:hidden;
    height: 219px;
    position: absolute;
    bottom: 0;
}
#conversation{
    position: absolute;
    bottom: 30px;
    height: 189px;
    width: 100%;
}
#conversation li{
    font-size:13px;
}

.list li{
    margin:5px;
}

.close{
    cursor:pointer;
    background: url('close.png');
    background-size: 100% 100%;
    width: 14px;
    height: 14px;
    display: block;
    position: absolute;
    top: 8px;
    right: 8px;
    z-index:150;
}

.closeicon{
    background-image: url('close2.png');
}

#gameinfo{
    padding: 0;width: 630px;height: 510px;
}


#menu{
    position:fixed;
    z-index:200;
    top:150;
    right:30px;
}
#menu li{
    display:none;
    margin:10px;
    text-align:center;
    cursor:pointer;
}

#gamewin{
    width: 115px;
    height: 120px;
    background-image: url('trophy.png');
    margin: auto;
    background-size: 100% 100%;
    font-size: 59px;
    text-align: center;
    line-height: 95px;
    display:none;
}






@media (max-width: 650px)  {

    #menu{
        right:0;
        font-size:13px;
    }

    #pointWrap {
        width: 100%;
        left: inherit;
        bottom: inherit;
        height: 100px;
    }

    #point {
        margin: auto;
        display: block;
    }

    #blackwhite {
        position: relative;
        top: inherit;
        left: inherit;
        width: 80%;
        margin: auto;
        text-align: center;

    }

    #dashboard {
        height: 60px;
    }

    #blackwhite li {

        display: inline-block;
        width: 48%;
        border: 1px solid #000;

    }

    #gameContainer {
        width: 98%;
        padding: 0;
        padding-top: 20px;
        height: 550px;
    }

    #warring {
        width: 100%;
        height:550px;
    }

    #char {
        display: none;
    }

    #gamebody {
        top: 20px;
        width: 100%;
        position: relative;
        clear: both;
        height: 100%;
    }

    #pointWrap {
        display: inline-block;
        position: relative;
    }

    .foot, #chat, #gameinfo {
        width: 94%;
        margin: 1%;
        padding: 2%;
    }

    #usercon{
        height:inherit;
    }

    #conversation{
        left: 0;
        bottom: 35px;
    }

    #users{
        position: relative;
        height: inherit;
    }
    .foot{
        padding-top: 40px;
    }

    #inputarea {
        left: 0;
    }

    iframe {
        left: 0;
    }

    #data {
        width: 80%
    }

    #datasend {
        width: 20%
    }

}

