@CHARSET "UTF-8";


#chess{
	height:inherit;
	text-align:center;
}


#chess > ul{
	width:400px;
	list-style:none;
	display:inline-block;

}

#chess li{
	overflow:hidden;
	border:1px dotted #eee;
	border-radius:
	padding:0;
	margin:0;
	display:inline-block;
	width:100%;
}



#chess > ul > div {
	width:100%;
}

#chess > ul > div .panel-body {
	height:150px;
}

.dies{
	padding:0;
}



.pig, .tiger, .dragon, .snake, .dog{
	background-image:url('animal.png');
	background-size:100%;
	background-repeat:no-repeat;
}

.pig-enemy, .tiger-enemy, .dragon-enemy, .snake-enemy, .dog-enemy{
	background-image:url('animal-enemy.png');
	background-size:100%;
	background-repeat:no-repeat;
}

.pig, .pig-enemy{
	background-position:0px -373px;
}

.tiger, .tiger-enemy{
	background-position:0px 3px;
}

.dog, .dog-enemy{
	background-position:0px -278px;
}

.dragon{
	background-position:0px -92px;
}

.dragon-enemy{
	background-position:0px -568px;
}

.snake{
	background-position:0px -187px;
}

.snake-enemy{
	background-position:0px -471px;
}






.guide{
	width:100%;
	height:100%;
	border-radius:50%;
	background-color:#ccf;
	opacity:0.4;
	border:2px dotted #000;
}

.reborn{
	width:100%;
	height:100%;
	border-radius:50%;
	background-color:#cfc;
	opacity:0.4;
	border:2px dotted #000;
}

#startbtn{
	left:50px;
	top:50px;
	font-size:20px;
	position:absolute;
	z-index:20;
}

#alertTo{
	padding-top:120px;
	width:100%;
	height:100%;
	position:absolute;
	text-align:center;
	background-color:rgba(255, 255, 255, 0.6);
	font-size:80px;
	z-index:10;
}

#chatrooms li{
	cursor:pointer;
}



.blur{
	opacity:0.3;
}