@CHARSET "UTF-8";

ol, ul {
	list-style: none;
	margin: 0;
	padding: 0;
	border: 0;
}

.reply{
	text-align : left;
}

.reply li span:nth-child(1){
	font-weight:900;
}

.reply li span:nth-child(2){
	margin-left:20px;
	margin-right:20px;
}

.reply li{
	margin-top:10px;
	margin-bottom:10px;
}


td {
	cursor: pointer;
}

.align-center{
	text-align:center;
}

.center{
	display:inline-block;
}

