@CHARSET "UTF-8";

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {
	padding-top: 40px;
	font-family: 'Nanum Gothic', serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Nanum Gothic', serif;
}

.input-group {
	margin-top: 15px;
	margin-bottom: 15px;
}

.modal {
	top: 100px;
}

.loading {
	width: 100%;
	height: 600px;
	background-repeat: no-repeat;
	position: absolute;
	background-position: center;
	background-color: rgba(255, 255, 255, 0.3);
	background-image: url('/support/css/loadingBar.gif');
	z-index: 10;
}