@CHARSET "UTF-8";

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {
	padding-top: 40px;
	font-family: 'Nanum Gothic', serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Nanum Gothic', serif;
}

.input-group-addon {
	min-width: 145px;
}

.input-group {
	margin-top: 15px;
	margin-bottom: 15px;
}

#signupbtn {
	width: 100%;
}

.modal {
	top: 100px;
}